In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\109366\Desktop\TFM codigo\data\green_tripdata_2013-08.csv", sep = ",", index_col = None).reset_index()

In [3]:
df

,level_0,level_1,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,...,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type
0,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.00,0.00,0.00,NaN,21.25,2,NaN,NaN,NaN
1,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,1,0.000000,0.000000,0.000000,0.000000,2,...,0.0,0.50,0.00,0.00,NaN,75.00,2,NaN,NaN,NaN
2,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,5,0.000000,0.000000,0.000000,0.000000,1,...,0.1,0.00,0.00,1.00,NaN,2.10,2,NaN,NaN,NaN
3,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.00,0.00,0.00,NaN,3.25,2,NaN,NaN,NaN
4,2,2013-08-01 11:51:45,2013-08-01 12:03:52,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.50,0.00,0.00,NaN,9.00,2,NaN,NaN,NaN
5,2,2013-08-01 14:33:39,2013-08-01 15:49:00,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.50,0.00,0.00,NaN,9.50,2,NaN,NaN,NaN
6,2,2013-08-01 17:19:00,2013-08-01 17:19:00,N,1,0.000000,0.000000,0.000000,0.000000,1,...,1.0,0.50,0.00,0.00,NaN,4.00,2,NaN,NaN,NaN
7,2,2013-08-01 17:22:00,2013-08-01 17:22:00,N,1,-73.937767,40.758480,-73.937767,40.758480,1,...,1.0,0.50,0.00,5.33,NaN,9.33,2,NaN,NaN,NaN
8,2,2013-08-01 17:24:00,2013-08-01 17:25:00,N,1,-73.937927,40.757843,-73.937927,40.757843,1,...,1.0,0.50,0.00,1.11,NaN,5.11,2,NaN,NaN,NaN
9,2,2013-08-01 19:21:09,2013-08-01 19:22:30,N,1,0.000000,0.000000,0.000000,0.000000,5,...,1.0,0.50,0.00,0.00,NaN,4.50,1,NaN,NaN,NaN
10,2,2013-08-01 19:29:27,2013-08-01 19:32:38,N,4,0.000000,0.000000,0.000000,0.000000,5,...,1.0,0.50,0.00,0.00,NaN,4.50,2,NaN,NaN,NaN
11,2,2013-08-01 19:33:28,2013-08-01 19:35:21,N,1,0.000000,0.000000,0.000000,0.000000,5,...,1.0,0.50,0.08,0.00,NaN,4.58,1,NaN,NaN,NaN
12,2,2013-08-02 09:37:44,2013-08-02 09:38:08,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.50,0.00,0.00,NaN,2.00,1,NaN,NaN,NaN
13,2,2013-08-02 09:43:58,2013-08-02 09:44:13,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.50,0.00,0.00,NaN,2.00,1,NaN,NaN,NaN
14,2,2013-08-02 09:44:43,2013-08-02 09:45:15,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.50,0.00,0.00,NaN,2.00,1,NaN,NaN,NaN
15,2,2013-08-02 11:26:32,2013-08-02 11:26:54,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.50,0.00,0.00,NaN,11.00,2,NaN,NaN,NaN
16,2,2013-08-02 11:32:36,2013-08-02 11:45:45,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.00,0.00,0.00,NaN,7.45,2,NaN,NaN,NaN
17,2,2013-08-02 11:46:27,2013-08-02 11:47:32,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.50,0.00,0.00,NaN,3.50,2,NaN,NaN,NaN
18,2,2013-08-02 12:10:46,2013-08-02 12:11:45,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.00,0.00,0.00,NaN,3.45,2,NaN,NaN,NaN
19,2,2013-08-02 12:19:55,2013-08-02 12:20:11,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.00,0.00,0.00,NaN,3.25,2,NaN,NaN,NaN
20,2,2013-08-02 12:30:00,2013-08-02 18:08:00,N,1,0.000000,0.000000,0.000000,0.000000,2,...,0.0,0.50,0.00,0.00,NaN,172.00,2,NaN,NaN,NaN
21,2,2013-08-02 12:51:01,2013-08-02 17:04:32,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.50,0.00,0.00,NaN,27.30,2,NaN,NaN,NaN
22,2,2013-08-02 18:00:50,2013-08-02 18:01:55,N,1,0.000000,0.000000,0.000000,0.000000,3,...,0.0,0.50,0.00,0.00,NaN,6.50,2,NaN,NaN,NaN
23,2,2013-08-02 18:04:20,2013-08-03 16:57:31,N,1,0.000000,0.000000,0.000000,0.000000,2,...,1.0,0.50,0.00,0.00,NaN,3570.50,2,NaN,NaN,NaN
24,2,2013-08-02 18:05:15,2013-08-03 09:32:19,N,1,0.000000,0.000000,0.000000,0.000000,4,...,1.0,0.50,0.00,0.00,NaN,4.00,2,NaN,NaN,NaN
25,2,2013-08-03 17:22:42,2013-08-03 17:23:13,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.25,0.00,0.00,NaN,3.50,2,NaN,NaN,NaN
26,2,2013-08-05 09:01:22,2013-08-05 14:02:41,N,1,0.000000,0.000000,0.000000,0.000000,1,...,0.0,0.50,0.00,0.00,NaN,32.10,2,NaN,NaN,NaN
27,2,2013-08-05 10:16:04,2013-08-05 11:03:13,N,1,0.000000,0.000000,0.000000,0.000000,3,...,0.0,0.50,0.00,0.00,NaN,8.00,2,NaN,NaN,NaN
28,2,2013-08-05 11:05:58,2013-08-05 11:07:45,N,1,0.000000,0.000000,0.000000,0.000000,4,...,0.0,0.50,0.00,0.00,NaN,3.00,2,NaN,NaN,NaN
29,2,2013-08-05 11:14:37,2013-08-05 11:15:05,N,1,0.000000,0.000000,0.000000,0.000000,2,...,0.0,0.50,0.00,0.00,NaN,3.50,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7593,1,2013-08-31 23:23:38,2013-08-31 23:36:16,N,1,-73.913605,40.765427,-73.918091,40.741680,1,...,0.5,0.50,0.00,0.00,NaN,12.00,2,NaN,NaN,NaN
7594,2,2013-08-31 23:23:45,2013-08-31 23:34:26,N,1,-73.950272,40.680496,-73.934990,40.702396,1,...,0.5,0.50,0.00,0.00,NaN,11.50,1,NaN,NaN,NaN
7595,2,2013-08-31 23:23:49,2013-08-31 23:31:26,N,1,-73.844254,40.721390,-73.818474,40.734043,1,...,0.5,0.50,0.00,0.00,NaN,10.00,2,NaN,NaN,NaN
7596,2,2013-08-31 23:24:42,2013-08-31 23:50:50,N,1,-73.846169,40.754543,-73.965820,40.677544,2,...,0.5,0.50,0.00,0.00,NaN,40.00,2,NaN,NaN,NaN
7597,2,2013-08-31 23:25:05,2013-08-31 23:35:31,N,1,-73.861031,40.893051,-73.901611,40.876530,1,...,0.5,0.50,0.00,0.00,NaN,15.00,2,NaN,NaN,NaN
7598,2,2013-08-31 23:27:26,2013-08-31 23:54:49,N,1,-73.844818,40.754986,-73.969231,40.761219,2,...,0.5,0.50,5.40,0.00,NaN,32.40,1,NaN,NaN,NaN
7599,2,2013-08-31 23:27:46,2013-08-31 23:41:39,N,1,-73.954086,40.742813,-74.000793,40.736462,1,...,0.5,0.50,2.00,5.33,NaN,21.83,1,NaN,NaN,NaN
7600,2,2013-08-31 23:28:21,2013-09-01 00:00:58,N,1,-73.846001,40.754578,-73.974899,40.759235,1,...,0.5,0.50,0.00,5.33,NaN,44.83,2,NaN,NaN,NaN
7601,2,2013-08-31 23:30:53,2013-08-31 23:54:56,N,1,-73.849991,40.753479,-73.977623,40.779022,1,...,0.5,0.50,4.00,5.33,NaN,44.33,1,NaN,NaN,NaN
7602,2,2013-08-31 23:33:19,2013-08-31 23:38:51,N,1,-73.829971,40.713734,-73.824730,40.705601,2,...,0.5,0.50,0.00,0.00,NaN,6.50,2,NaN,NaN,NaN
7603,2,2013-08-31 23:34:00,2013-08-31 23:43:00,N,1,-73.845917,40.754639,-73.860458,40.739819,1,...,0.5,0.50,0.00,0.00,NaN,9.50,2,NaN,NaN,NaN
7604,2,2013-08-31 23:34:55,2013-08-31 23:51:43,N,1,-73.967758,40.693268,-73.989105,40.720303,3,...,0.5,0.50,0.00,0.00,NaN,15.50,2,NaN,NaN,NaN
7605,2,2013-08-31 23:34:58,2013-08-31 23:50:56,N,1,-73.991852,40.702530,-74.007256,40.733669,1,...,0.5,0.50,3.10,0.00,NaN,18.60,1,NaN,NaN,NaN
7606,2,2013-08-31 23:35:21,2013-08-31 23:48:13,N,1,-73.833656,40.771580,-73.843651,40.689556,1,...,0.5,0.50,0.00,0.00,NaN,23.50,2,NaN,NaN,NaN
7607,2,2013-08-31 23:40:04,2013-08-31 23:41:42,N,1,-73.926193,40.761082,-73.928421,40.756069,1,...,0.5,0.50,0.00,0.00,NaN,4.50,2,NaN,NaN,NaN
7608,2,2013-08-31 23:41:33,2013-09-01 00:00:18,N,1,-73.921158,40.743267,-73.902840,40.701447,2,...,0.5,0.50,0.00,0.00,NaN,18.00,2,NaN,NaN,NaN
7609,2,2013-08-31 23:44:17,2013-08-31 23:52:01,N,1,-73.946342,40.711445,-73.951027,40.724358,1,...,0.5,0.50,2.12,0.00,NaN,10.62,1,NaN,NaN,NaN
7610,1,2013-08-31 23:45:43,2013-08-31 23:50:19,N,1,-73.979172,40.678406,-73.988785,40.670506,1,...,0.5,0.50,0.00,0.00,NaN,6.50,2,NaN,NaN,NaN
7611,2,2013-08-31 23:46:58,2013-08-31 23:51:07,N,1,-73.943985,40.784100,-73.952507,40.773121,3,...,0.5,0.50,0.00,0.00,NaN,7.00,2,NaN,NaN,NaN
7612,2,2013-08-31 23:48:10,2013-09-01 00:09:26,N,1,-73.924644,40.756287,-73.984779,40.710838,1,...,0.5,0.50,0.00,0.00,NaN,26.00,2,NaN,NaN,NaN
7613,2,2013-08-31 23:48:29,2013-08-31 23:59:44,N,1,-73.920647,40.767956,-73.885201,40.755516,5,...,0.5,0.50,0.00,0.00,NaN,12.50,2,NaN,NaN,NaN
7614,2,2013-08-31 23:50:37,2013-09-01 00:01:12,N,1,-73.941200,40.805779,-73.967400,40.801105,5,...,0.5,0.50,2.62,0.00,NaN,13.12,1,NaN,NaN,NaN
7615,2,2013-08-31 23:51:16,2013-08-31 23:58:45,N,1,-73.844307,40.721352,-73.827965,40.710865,1,...,0.5,0.50,0.00,0.00,NaN,9.00,2,NaN,NaN,NaN
7616,2,2013-08-31 23:52:57,2013-08-31 23:58:45,N,1,-73.917976,40.765259,-73.922600,40.755390,1,...,0.5,0.50,0.00,0.00,NaN,7.00,2,NaN,NaN,NaN
7617,2,2013-08-31 23:54:00,2013-08-31 00:06:00,N,1,-73.845985,40.754650,-73.884468,40.737869,1,...,0.5,0.50,0.00,0.00,NaN,16.00,2,NaN,NaN,NaN
7618,2,2013-08-31 23:54:50,2013-08-31 23:57:30,N,1,-73.943115,40.785336,-73.932846,40.796619,1,...,0.5,0.50,0.00,0.00,NaN,6.00,2,NaN,NaN,NaN
7619,2,2013-08-31 23:57:33,2013-09-01 00:10:03,N,1,-73.824432,40.734287,-73.850494,40.722317,1,...,0.5,0.50,2.50,0.00,NaN,15.00,1,NaN,NaN,NaN
7620,2,2013-08-31 23:58:18,2013-09-01 00:25:07,N,1,-73.964668,40.681309,-74.000633,40.732147,2,...,0.5,0.50,0.00,0.00,NaN,26.50,2,NaN,NaN,NaN
7621,2,2013-08-31 23:58:58,2013-09-01 00:06:31,N,1,-73.932343,40.796421,-73.955841,40.804691,2,...,0.5,0.50,0.00,0.00,NaN,8.50,2,NaN,NaN,NaN
7622,1,2013-08-31 23:59:14,2013-09-01 00:07:40,N,1,-73.980034,40.676315,-73.964218,40.652081,1,...,0.5,0.50,2.00,0.00,NaN,12.00,1,NaN,NaN,NaN

In [4]:
column_names = df.columns[2:]
df = df.iloc[:,:-2]
df.columns = column_names

In [5]:
df

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type
0,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,21.25,0.0,0.00,0.00,0.00,NaN,21.25,2,NaN
1,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,1,0.000000,0.000000,0.000000,0.000000,2,0.00,74.50,0.0,0.50,0.00,0.00,NaN,75.00,2,NaN
2,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,5,0.000000,0.000000,0.000000,0.000000,1,0.00,1.00,0.1,0.00,0.00,1.00,NaN,2.10,2,NaN
3,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,3.25,0.0,0.00,0.00,0.00,NaN,3.25,2,NaN
4,2,2013-08-01 11:51:45,2013-08-01 12:03:52,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,8.50,0.0,0.50,0.00,0.00,NaN,9.00,2,NaN
5,2,2013-08-01 14:33:39,2013-08-01 15:49:00,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,9.00,0.0,0.50,0.00,0.00,NaN,9.50,2,NaN
6,2,2013-08-01 17:19:00,2013-08-01 17:19:00,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,2.50,1.0,0.50,0.00,0.00,NaN,4.00,2,NaN
7,2,2013-08-01 17:22:00,2013-08-01 17:22:00,N,1,-73.937767,40.758480,-73.937767,40.758480,1,0.00,2.50,1.0,0.50,0.00,5.33,NaN,9.33,2,NaN
8,2,2013-08-01 17:24:00,2013-08-01 17:25:00,N,1,-73.937927,40.757843,-73.937927,40.757843,1,0.00,2.50,1.0,0.50,0.00,1.11,NaN,5.11,2,NaN
9,2,2013-08-01 19:21:09,2013-08-01 19:22:30,N,1,0.000000,0.000000,0.000000,0.000000,5,0.00,3.00,1.0,0.50,0.00,0.00,NaN,4.50,1,NaN
10,2,2013-08-01 19:29:27,2013-08-01 19:32:38,N,4,0.000000,0.000000,0.000000,0.000000,5,0.00,3.00,1.0,0.50,0.00,0.00,NaN,4.50,2,NaN
11,2,2013-08-01 19:33:28,2013-08-01 19:35:21,N,1,0.000000,0.000000,0.000000,0.000000,5,0.00,3.00,1.0,0.50,0.08,0.00,NaN,4.58,1,NaN
12,2,2013-08-02 09:37:44,2013-08-02 09:38:08,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,1.50,0.0,0.50,0.00,0.00,NaN,2.00,1,NaN
13,2,2013-08-02 09:43:58,2013-08-02 09:44:13,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,1.50,0.0,0.50,0.00,0.00,NaN,2.00,1,NaN
14,2,2013-08-02 09:44:43,2013-08-02 09:45:15,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,1.50,0.0,0.50,0.00,0.00,NaN,2.00,1,NaN
15,2,2013-08-02 11:26:32,2013-08-02 11:26:54,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,1.50,0.0,0.50,0.00,0.00,NaN,11.00,2,NaN
16,2,2013-08-02 11:32:36,2013-08-02 11:45:45,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,7.45,0.0,0.00,0.00,0.00,NaN,7.45,2,NaN
17,2,2013-08-02 11:46:27,2013-08-02 11:47:32,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,3.00,0.0,0.50,0.00,0.00,NaN,3.50,2,NaN
18,2,2013-08-02 12:10:46,2013-08-02 12:11:45,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,3.45,0.0,0.00,0.00,0.00,NaN,3.45,2,NaN
19,2,2013-08-02 12:19:55,2013-08-02 12:20:11,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,3.25,0.0,0.00,0.00,0.00,NaN,3.25,2,NaN
20,2,2013-08-02 12:30:00,2013-08-02 18:08:00,N,1,0.000000,0.000000,0.000000,0.000000,2,0.00,171.50,0.0,0.50,0.00,0.00,NaN,172.00,2,NaN
21,2,2013-08-02 12:51:01,2013-08-02 17:04:32,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,26.80,0.0,0.50,0.00,0.00,NaN,27.30,2,NaN
22,2,2013-08-02 18:00:50,2013-08-02 18:01:55,N,1,0.000000,0.000000,0.000000,0.000000,3,0.00,6.00,0.0,0.50,0.00,0.00,NaN,6.50,2,NaN
23,2,2013-08-02 18:04:20,2013-08-03 16:57:31,N,1,0.000000,0.000000,0.000000,0.000000,2,0.00,3569.00,1.0,0.50,0.00,0.00,NaN,3570.50,2,NaN
24,2,2013-08-02 18:05:15,2013-08-03 09:32:19,N,1,0.000000,0.000000,0.000000,0.000000,4,0.00,2.50,1.0,0.50,0.00,0.00,NaN,4.00,2,NaN
25,2,2013-08-03 17:22:42,2013-08-03 17:23:13,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,3.25,0.0,0.25,0.00,0.00,NaN,3.50,2,NaN
26,2,2013-08-05 09:01:22,2013-08-05 14:02:41,N,1,0.000000,0.000000,0.000000,0.000000,1,0.00,31.60,0.0,0.50,0.00,0.00,NaN,32.10,2,NaN
27,2,2013-08-05 10:16:04,2013-08-05 11:03:13,N,1,0.000000,0.000000,0.000000,0.000000,3,26.47,7.50,0.0,0.50,0.00,0.00,NaN,8.00,2,NaN
28,2,2013-08-05 11:05:58,2013-08-05 11:07:45,N,1,0.000000,0.000000,0.000000,0.000000,4,0.00,2.50,0.0,0.50,0.00,0.00,NaN,3.00,2,NaN
29,2,2013-08-05 11:14:37,2013-08-05 11:15:05,N,1,0.000000,0.000000,0.000000,0.000000,2,0.00,3.00,0.0,0.50,0.00,0.00,NaN,3.50,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7593,1,2013-08-31 23:23:38,2013-08-31 23:36:16,N,1,-73.913605,40.765427,-73.918091,40.741680,1,2.20,11.00,0.5,0.50,0.00,0.00,NaN,12.00,2,NaN
7594,2,2013-08-31 23:23:45,2013-08-31 23:34:26,N,1,-73.950272,40.680496,-73.934990,40.702396,1,2.43,10.50,0.5,0.50,0.00,0.00,NaN,11.50,1,NaN
7595,2,2013-08-31 23:23:49,2013-08-31 23:31:26,N,1,-73.844254,40.721390,-73.818474,40.734043,1,2.22,9.00,0.5,0.50,0.00,0.00,NaN,10.00,2,NaN
7596,2,2013-08-31 23:24:42,2013-08-31 23:50:50,N,1,-73.846169,40.754543,-73.965820,40.677544,2,13.70,39.00,0.5,0.50,0.00,0.00,NaN,40.00,2,NaN
7597,2,2013-08-31 23:25:05,2013-08-31 23:35:31,N,1,-73.861031,40.893051,-73.901611,40.876530,1,4.01,14.00,0.5,0.50,0.00,0.00,NaN,15.00,2,NaN
7598,2,2013-08-31 23:27:26,2013-08-31 23:54:49,N,1,-73.844818,40.754986,-73.969231,40.761219,2,7.49,26.00,0.5,0.50,5.40,0.00,NaN,32.40,1,NaN
7599,2,2013-08-31 23:27:46,2013-08-31 23:41:39,N,1,-73.954086,40.742813,-74.000793,40.736462,1,3.77,13.50,0.5,0.50,2.00,5.33,NaN,21.83,1,NaN
7600,2,2013-08-31 23:28:21,2013-09-01 00:00:58,N,1,-73.846001,40.754578,-73.974899,40.759235,1,11.66,38.50,0.5,0.50,0.00,5.33,NaN,44.83,2,NaN
7601,2,2013-08-31 23:30:53,2013-08-31 23:54:56,N,1,-73.849991,40.753479,-73.977623,40.779022,1,11.77,34.00,0.5,0.50,4.00,5.33,NaN,44.33,1,NaN
7602,2,2013-08-31 23:33:19,2013-08-31 23:38:51,N,1,-73.829971,40.713734,-73.824730,40.705601,2,0.72,5.50,0.5,0.50,0.00,0.00,NaN,6.50,2,NaN
7603,2,2013-08-31 23:34:00,2013-08-31 23:43:00,N,1,-73.845917,40.754639,-73.860458,40.739819,1,2.03,8.50,0.5,0.50,0.00,0.00,NaN,9.50,2,NaN
7604,2,2013-08-31 23:34:55,2013-08-31 23:51:43,N,1,-73.967758,40.693268,-73.989105,40.720303,3,3.30,14.50,0.5,0.50,0.00,0.00,NaN,15.50,2,NaN
7605,2,2013-08-31 23:34:58,2013-08-31 23:50:56,N,1,-73.991852,40.702530,-74.007256,40.733669,1,3.59,14.50,0.5,0.50,3.10,0.00,NaN,18.60,1,NaN
7606,2,2013-08-31 23:35:21,2013-08-31 23:48:13,N,1,-73.833656,40.771580,-73.843651,40.689556,1,7.64,22.50,0.5,0.50,0.00,0.00,NaN,23.50,2,NaN
7607,2,2013-08-31 23:40:04,2013-08-31 23:41:42,N,1,-73.926193,40.761082,-73.928421,40.756069,1,0.40,3.50,0.5,0.50,0.00,0.00,NaN,4.50,2,NaN
7608,2,2013-08-31 23:41:33,2013-09-01 00:00:18,N,1,-73.921158,40.743267,-73.902840,40.701447,2,4.80,17.00,0.5,0.50,0.00,0.00,NaN,18.00,2,NaN
7609,2,2013-08-31 23:44:17,2013-08-31 23:52:01,N,1,-73.946342,40.711445,-73.951027,40.724358,1,1.48,7.50,0.5,0.50,2.12,0.00,NaN,10.62,1,NaN
7610,1,2013-08-31 23:45:43,2013-08-31 23:50:19,N,1,-73.979172,40.678406,-73.988785,40.670506,1,0.80,5.50,0.5,0.50,0.00,0.00,NaN,6.50,2,NaN
7611,2,2013-08-31 23:46:58,2013-08-31 23:51:07,N,1,-73.943985,40.784100,-73.952507,40.773121,3,1.32,6.00,0.5,0.50,0.00,0.00,NaN,7.00,2,NaN
7612,2,2013-08-31 23:48:10,2013-09-01 00:09:26,N,1,-73.924644,40.756287,-73.984779,40.710838,1,7.76,25.00,0.5,0.50,0.00,0.00,NaN,26.00,2,NaN
7613,2,2013-08-31 23:48:29,2013-08-31 23:59:44,N,1,-73.920647,40.767956,-73.885201,40.755516,5,2.86,11.50,0.5,0.50,0.00,0.00,NaN,12.50,2,NaN
7614,2,2013-08-31 23:50:37,2013-09-01 00:01:12,N,1,-73.941200,40.805779,-73.967400,40.801105,5,2.08,9.50,0.5,0.50,2.62,0.00,NaN,13.12,1,NaN
7615,2,2013-08-31 23:51:16,2013-08-31 23:58:45,N,1,-73.844307,40.721352,-73.827965,40.710865,1,1.82,8.00,0.5,0.50,0.00,0.00,NaN,9.00,2,NaN
7616,2,2013-08-31 23:52:57,2013-08-31 23:58:45,N,1,-73.917976,40.765259,-73.922600,40.755390,1,1.13,6.00,0.5,0.50,0.00,0.00,NaN,7.00,2,NaN
7617,2,2013-08-31 23:54:00,2013-08-31 00:06:00,N,1,-73.845985,40.754650,-73.884468,40.737869,1,4.29,15.00,0.5,0.50,0.00,0.00,NaN,16.00,2,NaN
7618,2,2013-08-31 23:54:50,2013-08-31 23:57:30,N,1,-73.943115,40.785336,-73.932846,40.796619,1,1.05,5.00,0.5,0.50,0.00,0.00,NaN,6.00,2,NaN
7619,2,2013-08-31 23:57:33,2013-09-01 00:10:03,N,1,-73.824432,40.734287,-73.850494,40.722317,1,2.64,11.50,0.5,0.50,2.50,0.00,NaN,15.00,1,NaN
7620,2,2013-08-31 23:58:18,2013-09-01 00:25:07,N,1,-73.964668,40.681309,-74.000633,40.732147,2,7.22,25.50,0.5,0.50,0.00,0.00,NaN,26.50,2,NaN
7621,2,2013-08-31 23:58:58,2013-09-01 00:06:31,N,1,-73.932343,40.796421,-73.955841,40.804691,2,1.47,7.50,0.5,0.50,0.00,0.00,NaN,8.50,2,NaN
7622,1,2013-08-31 23:59:14,2013-09-01 00:07:40,N,1,-73.980034,40.676315,-73.964218,40.652081,1,2.20,9.00,0.5,0.50,2.00,0.00,NaN,12.00,1,NaN

In [6]:
df.columns

Index([u'VendorID', u'lpep_pickup_datetime', u'Lpep_dropoff_datetime',
       u'Store_and_fwd_flag', u'RateCodeID', u'Pickup_longitude',
       u'Pickup_latitude', u'Dropoff_longitude', u'Dropoff_latitude',
       u'Passenger_count', u'Trip_distance', u'Fare_amount', u'Extra',
       u'MTA_tax', u'Tip_amount', u'Tolls_amount', u'Ehail_fee',
       u'Total_amount', u'Payment_type', u'Trip_type '],
      dtype='object')

In [7]:
df.describe()

,VendorID,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type
count,7623.000000,7623.000000,7623.000000,7623.000000,7623.000000,7623.000000,7623.000000,7623.000000,7623.000000,7623.000000,7623.000000,7623.000000,7623.000000,0.0,7623.000000,7623.000000,0.0
mean,1.929555,1.288076,-68.766738,37.900185,-68.831125,37.927546,2.281779,2.920666,13.933222,0.373941,0.480979,0.782372,0.267275,NaN,15.962307,1.707858,NaN
std,0.255912,4.089259,18.905109,10.407933,18.808564,10.352452,1.779897,3.402070,57.921221,0.793921,0.126252,1.932240,1.971880,NaN,58.698788,0.474818,NaN
min,1.000000,1.000000,-115.179337,0.000000,-115.179337,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,1.000000,NaN
25%,2.000000,1.000000,-73.946732,40.721142,-73.955109,40.717598,1.000000,0.630000,5.500000,0.000000,0.500000,0.000000,0.000000,NaN,6.500000,1.000000,NaN
50%,2.000000,1.000000,-73.921158,40.756374,-73.927879,40.756447,1.000000,1.820000,9.500000,0.500000,0.500000,0.000000,0.000000,NaN,10.500000,2.000000,NaN
75%,2.000000,1.000000,-73.846062,40.804596,-73.865547,40.785635,5.000000,4.000000,16.000000,0.500000,0.500000,0.000000,0.000000,NaN,18.500000,2.000000,NaN
max,2.000000,99.000000,0.000000,40.919121,0.000000,41.008934,6.000000,32.340000,3569.000000,50.220000,3.000000,30.000000,127.780000,NaN,3570.500000,4.000000,NaN

In [45]:
import numpy as np
df["Trip_type "].dropna()

Series([], Name: Trip_type , dtype: float64)

In [10]:
df2 = pd.read_csv(r"C:\Users\109366\Desktop\TFM codigo\data\fhv_tripdata_2015-01.csv", sep=',')
df2

        Dispatching_base_num          Pickup_date  locationID
0                     B00013  2015-01-01 00:30:00         NaN
1                     B00013  2015-01-01 01:22:00         NaN
2                     B00013  2015-01-01 01:23:00         NaN
3                     B00013  2015-01-01 01:44:00         NaN
4                     B00013  2015-01-01 02:00:00         NaN
5                     B00013  2015-01-01 02:00:00         NaN
6                     B00013  2015-01-01 02:00:00         NaN
7                     B00013  2015-01-01 02:50:00         NaN
8                     B00013  2015-01-01 04:45:00         NaN
9                     B00013  2015-01-01 06:30:00         NaN
10                    B00013  2015-01-01 07:15:00         NaN
11                    B00013  2015-01-01 07:54:00         NaN
12                    B00013  2015-01-01 10:30:00         NaN
13                    B00013  2015-01-01 11:00:00         NaN
14                    B00013  2015-01-01 12:42:00         NaN
15                    B00013  2015-01-01 12:58:00         NaN
16                    B00013  2015-01-01 13:28:00         NaN
17                    B00013  2015-01-01 14:27:00         NaN
18                    B00013  2015-01-01 16:15:00         NaN
19                    B00013  2015-01-01 16:59:00         NaN
20                    B00013  2015-01-01 17:53:00         NaN
21                    B00013  2015-01-01 18:45:00         NaN
22                    B00013  2015-01-01 19:00:00         NaN
23                    B00013  2015-01-01 19:54:00         NaN
24                    B00013  2015-01-01 21:45:00         NaN
25                    B00013  2015-01-01 22:00:00         NaN
26                    B00013  2015-01-02 01:00:00         NaN
27                    B00013  2015-01-02 01:08:00         NaN
28                    B00013  2015-01-02 01:10:00         NaN
29                    B00013  2015-01-02 02:45:00         NaN
...                      ...                  ...         ...
2746003               B02765  2015-01-31 23:49:12       236.0
2746004               B02765  2015-01-31 23:49:18       231.0
2746005               B02765  2015-01-31 23:50:40        87.0
2746006               B02765  2015-01-31 23:50:46       112.0
2746007               B02765  2015-01-31 23:51:28        80.0
2746008               B02765  2015-01-31 23:51:39       249.0
2746009               B02765  2015-01-31 23:51:44       158.0
2746010               B02765  2015-01-31 23:52:39       249.0
2746011               B02765  2015-01-31 23:53:26       140.0
2746012               B02765  2015-01-31 23:53:45        37.0
2746013               B02765  2015-01-31 23:53:49       159.0
2746014               B02765  2015-01-31 23:53:57       106.0
2746015               B02765  2015-01-31 23:54:25       181.0
2746016               B02765  2015-01-31 23:54:26       249.0
2746017               B02765  2015-01-31 23:54:50       181.0
2746018               B02765  2015-01-31 23:54:51       112.0
2746019               B02765  2015-01-31 23:55:04        17.0
2746020               B02765  2015-01-31 23:56:05        68.0
2746021               B02765  2015-01-31 23:56:47       181.0
2746022               B02765  2015-01-31 23:56:48       112.0
2746023               B02765  2015-01-31 23:56:52       145.0
2746024               B02765  2015-01-31 23:57:26       142.0
2746025               B02765  2015-01-31 23:57:28       132.0
2746026               B02765  2015-01-31 23:57:32       112.0
2746027               B02765  2015-01-31 23:58:18        50.0
2746028               B02765  2015-01-31 23:59:02       169.0
2746029               B02765  2015-01-31 23:59:07        80.0
2746030               B02765  2015-01-31 23:59:34       186.0
2746031               B02765  2015-01-31 23:59:40       181.0
2746032               B02765  2015-01-31 23:59:48        79.0

[2746033 rows x 3 columns]