In [6]:
import pandas as pd
df = pd.read_csv(r"C:\Users\gaizka\Desktop\UNIR\GAIZKA\ASIGNATURAS\2 Semestre\TFM\codigo\data\green_tripdata_2013-08.csv", sep=',')
df

                                  VendorID lpep_pickup_datetime  \
2 2013-08-01 08:14:37  2013-08-01 09:09:06                    N
  2013-08-01 09:13:00  2013-08-01 11:38:00                    N
  2013-08-01 09:48:00  2013-08-01 09:49:00                    N
  2013-08-01 10:38:35  2013-08-01 10:38:51                    N
  2013-08-01 11:51:45  2013-08-01 12:03:52                    N
...                                    ...                  ...
  2013-08-31 23:54:50  2013-08-31 23:57:30                    N
  2013-08-31 23:57:33  2013-09-01 00:10:03                    N
  2013-08-31 23:58:18  2013-09-01 00:25:07                    N
  2013-08-31 23:58:58  2013-09-01 00:06:31                    N
1 2013-08-31 23:59:14  2013-09-01 00:07:40                    N

                       Lpep_dropoff_datetime  Store_and_fwd_flag  RateCodeID  \
2 2013-08-01 08:14:37                      1            0.000000    0.000000
  2013-08-01 09:13:00                      1            0.000000    0.000000
  2013-08-01 09:48:00                      5            0.000000    0.000000
  2013-08-01 10:38:35                      1            0.000000    0.000000
  2013-08-01 11:51:45                      1            0.000000    0.000000
...                                      ...                 ...         ...
  2013-08-31 23:54:50                      1          -73.943115   40.785336
  2013-08-31 23:57:33                      1          -73.824432   40.734287
  2013-08-31 23:58:18                      1          -73.964668   40.681309
  2013-08-31 23:58:58                      1          -73.932343   40.796421
1 2013-08-31 23:59:14                      1          -73.980034   40.676315

                       Pickup_longitude  Pickup_latitude  Dropoff_longitude  \
2 2013-08-01 08:14:37          0.000000         0.000000                  1
  2013-08-01 09:13:00          0.000000         0.000000                  2
  2013-08-01 09:48:00          0.000000         0.000000                  1
  2013-08-01 10:38:35          0.000000         0.000000                  1
  2013-08-01 11:51:45          0.000000         0.000000                  1
...                                 ...              ...                ...
  2013-08-31 23:54:50        -73.932846        40.796619                  1
  2013-08-31 23:57:33        -73.850494        40.722317                  1
  2013-08-31 23:58:18        -74.000633        40.732147                  2
  2013-08-31 23:58:58        -73.955841        40.804691                  2
1 2013-08-31 23:59:14        -73.964218        40.652081                  1

                       Dropoff_latitude  Passenger_count  Trip_distance  \
2 2013-08-01 08:14:37              0.00            21.25            0.0
  2013-08-01 09:13:00              0.00            74.50            0.0
  2013-08-01 09:48:00              0.00             1.00            0.1
  2013-08-01 10:38:35              0.00             3.25            0.0
  2013-08-01 11:51:45              0.00             8.50            0.0
...                                 ...              ...            ...
  2013-08-31 23:54:50              1.05             5.00            0.5
  2013-08-31 23:57:33              2.64            11.50            0.5
  2013-08-31 23:58:18              7.22            25.50            0.5
  2013-08-31 23:58:58              1.47             7.50            0.5
1 2013-08-31 23:59:14              2.20             9.00            0.5

                       Fare_amount  Extra  MTA_tax  Tip_amount  Tolls_amount  \
2 2013-08-01 08:14:37          0.0    0.0      0.0         NaN         21.25
  2013-08-01 09:13:00          0.5    0.0      0.0         NaN         75.00
  2013-08-01 09:48:00          0.0    0.0      1.0         NaN          2.10
  2013-08-01 10:38:35          0.0    0.0      0.0         NaN          3.25
  2013-08-01 11:51:45          0.5    0.0      0.0         NaN          9.00
...                            ...    ...      ...         ...           ...
  2013-08-31 23:54:50          0.5    0.0      0.0         NaN          6.00
  2013-08-31 23:57:33          0.5    2.5      0.0         NaN         15.00
  2013-08-31 23:58:18          0.5    0.0      0.0         NaN         26.50
  2013-08-31 23:58:58          0.5    0.0      0.0         NaN          8.50
1 2013-08-31 23:59:14          0.5    2.0      0.0         NaN         12.00

                       Ehail_fee  Total_amount  Payment_type  Trip_type
2 2013-08-01 08:14:37          2           NaN           NaN        NaN
  2013-08-01 09:13:00          2           NaN           NaN        NaN
  2013-08-01 09:48:00          2           NaN           NaN        NaN
  2013-08-01 10:38:35          2           NaN           NaN        NaN
  2013-08-01 11:51:45          2           NaN           NaN        NaN
...                          ...           ...           ...        ...
  2013-08-31 23:54:50          2           NaN           NaN        NaN
  2013-08-31 23:57:33          1           NaN           NaN        NaN
  2013-08-31 23:58:18          2           NaN           NaN        NaN
  2013-08-31 23:58:58          2           NaN           NaN        NaN
1 2013-08-31 23:59:14          1           NaN           NaN        NaN

[7623 rows x 20 columns]

In [7]:
df2 = pd.read_csv(r"C:\Users\gaizka\Desktop\UNIR\GAIZKA\ASIGNATURAS\2 Semestre\TFM\codigo\data\fhv_tripdata_2015-01.csv", sep=',')
df2

        Dispatching_base_num          Pickup_date  locationID
0                     B00013  2015-01-01 00:30:00         NaN
1                     B00013  2015-01-01 01:22:00         NaN
2                     B00013  2015-01-01 01:23:00         NaN
3                     B00013  2015-01-01 01:44:00         NaN
4                     B00013  2015-01-01 02:00:00         NaN
...                      ...                  ...         ...
2746028               B02765  2015-01-31 23:59:02       169.0
2746029               B02765  2015-01-31 23:59:07        80.0
2746030               B02765  2015-01-31 23:59:34       186.0
2746031               B02765  2015-01-31 23:59:40       181.0
2746032               B02765  2015-01-31 23:59:48        79.0

[2746033 rows x 3 columns]

In [9]:
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us")

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("pqfs-mqru", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

ModuleNotFoundError: No module named 'sodapy'